/*
 Theme Name:     One Mozilla Child
 Theme URI:      https://github.com/mozilla/One-Mozilla-blog/
 Description:    One Mozilla Child Theme
 Author:         Mozilla / Mavis Ou
 Author URI:     http://example.com
 Template:       OneMozilla
 Version:        1.3.0
*/

@import url("../OneMozilla/style.css");

/* =Theme customization starts here
-------------------------------------------------------------- */

/*
Theme Name: One Mozilla
Author: Craig Cook
Description: The standard WordPress theme for Mozilla network blogs.
Version: 1.3
Tags: two-columns, right-sidebar, fixed-width, responsive, adaptive-layout, custom-header, custom-menu, editor-style, featured-images, featured-posts, full-width-template, microformats, sticky-post, theme-options, translation-ready

@@Font sizes -
16px base size

16px * 3      = 48px
16px * 2      = 32px
16px * 1.75   = 28px
16px * 1.5    = 24px
16px * 1.125  = 18px
16px *  .875  = 14px
16px *  .75   = 12px
16px *  .625  = 10px

*/


body{
  font-family: "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 .25em;
  line-height: 1;
  font-weight: normal;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
}

.large {
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
}
h1 {
  font-size: 48px;
  letter-spacing: -2px;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
}
h4 {
  font-size: 24px; letter-spacing: -0.25px;
}


/* @Links ***/
a:link,
a:visited {
  color: #2983c8;
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  color: #20679e;
  text-decoration: underline;
}

/* @Accessible skip links ***/
#nav-access {
  position: absolute;
  top: -50em;
}

#foot-logo .top {
  left: -999em;
  position: absolute;
}

#nav-access a:focus,
#nav-access a:active,
#foot-logo .top:focus,
#foot-logo .top:active {
  border-radius: 4px;
  display: block;
  box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  -ms-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  -o-box-shadow: 1px 1px 1px rgba(0,0,0,.1);
  outline: 0;
  padding: .25em 24px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  width: 204px;
  z-index: 99;
}

#nav-access a:focus,
#nav-access a:active {
  background: rgba(255,255,255,.5);
  border: 1px solid #20679e;
  left: 0;
  top: 51em;
}

#foot-logo .top:focus,
#foot-logo .top:active {
  background: #f5f1e8;
  border: 1px solid #67a7d0;
  left: 48px;
  top: -2.75em;
}

/*  @Default @Layout: 1000px */

#page {
  background-position: center top;
  background-repeat: repeat-x;
  padding: 0 0 30px;
  position: relative;
}

#masthead {
  background-position: right top;
  background-repeat: no-repeat;
  margin: 0 30px 0 0;
  min-height: 120px;
  padding: 48px 20px 0 20px;
  position: relative;
}
#masthead.image hgroup {
  padding-right: 340px;
}
#masthead hgroup{
  width: 520px;
  float: left;
}

#site-title {
  font-size: 40px;
  color: #444;
  margin: 0 0 .15em -2px;
}


#site-description{
  font-family: "Open Sans Light";
  font-size: 18px;
  line-height: 25px;
}

#content {
  padding: 0;
}

.clear{
    clear: both;
}

#dashboard-main {
  float: left;
  width: 100%;
  margin: 0;
}

.donate{
  position: absolute;
  bottom: 20px;
  right: 0;
}

section h3{
    /*color: rgb(0,150,221);*/
    color: rgb(230,96,0);
    font-size: 32px;
    margin-bottom: 20px;
}

.row{
    display: block;
    padding: 0 10px;
    overflow: hidden;
    height: 100%;
}

.white-bg{
    background: #FFF;
    padding: 25px 15px;
}

.two-columns{
    width: calc( 50% - 50px );
    width: 440px;   /* (1000px-20px)/2-(padding:15px*2+margin:10px*2)=490px-50px */ 
    min-height: 300px;
    float: left;
    display: inline-block;
    margin: 10px;
    position: relative;
}

.three-columns{
    width: calc( 33.33% - 50px );
    width: 276.666px;  /* (1000px-20px)/3-(padding:15px*2+margin:10px*2)=490px-50px */
    height: 200px;
    float: left;
    display: inline-block;
    margin: 10px;
}

.graph-box-container{
    position: relative;
    min-height: 250px;
}

#older-blog-post a,
#links a{
  font-size: 15px;
  color: #777;
  text-decoration: underline;
}

#get-moz-updates{
    background: #FFF;
    color: #777;
    font-size: 30px;
    font-family: "Open Sans Light", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
}

#go-to-newsletter{
    display: inline-block;
    margin-left: 15px;
}


/* View Blog Section ========== */

#blog-post-date{
    float: left;
    border: 1px solid #ADADAD;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #ccc;
    background: rgba(204,204,204,0.1);
    width: 35px;
    padding: 5px 5px;
    margin: 0 15px 10px 0;
    text-align: center;
    line-height: 100%;
    
}

#blog-post-date #month{
    text-transform: uppercase;
    font-size: 10px;
}

#blog-post-date #day{
    font-size: 20px;
}

#blog-post-date #year{
    font-size: 10px;
}

#blog-title{
    float: left;
    font-size: 18px;
    line-height: 50px;
    color: rgb(32, 103, 158);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc( 100% - 100px);
}

#latest-blog-summary #author{
    float: left;
}

#latest-blog-summary #author img{
    margin-right: 5px;
}

#latest-blog-summary #num-comments{
    float: right;
    background: url("../OneMozilla/img/icn-comment.png") no-repeat scroll 0 5px transparent;
    padding-left: 20px;
}

#blog-excerpt{
    border-top: 1px solid #888;
    margin-top: 10px;
    padding-top: 10px;
}


/* Polls widget =========== */

.poll-question{
    font-size: 28px;
    line-height: 30px;
    font-family: "Open Sans Light";
    margin-bottom: 10px;
    display: block;
}

.vote-label{
    color: rgb(0,150,221);
    margin-right: 10px;
}

.vote-today{
    float: left;
    text-align: center;
    line-height: 100px;
}

.wp-polls ul li, .wp-polls-ul li, .wp-polls-ans ul li{
    margin: 0;
    margin-bottom: 10px;
}

/* Recent Posts widget =========== */

#older-blog-post-widget ul{
    list-style-type: none;
}

#older-blog-post-widget ul li{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(119, 119, 119);
}

#older-blog-post-widget ul li:first-of-type{
  display: none;
}


/*   Sandstone-like Buttons ===============    */

.button,
.button:link,
.button:visited{
  display:inline-block;
  *display:inline;
  *zoom:1;
  -moz-border-radius:.25em;
  border-radius:.25em;
  box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
  color:#fff;
  text-align:center;
  font-size: 25px;
  /*font-size:14px;
  font-weight:bold;
  padding:5px 10px;*/
  padding: 10px 45px;
  line-height:1.1;
  text-decoration:none;
  min-width:80px;
  border:0;
  text-shadow:0 1px 0 rgba(0,0,0,0.25);
  font-family:'Open Sans Light',sans-serif;
  /*font-family:'Open Sans',sans-serif;*/
  -webkit-transition:all linear .25s;
  -moz-transition:all linear .25s;
  -o-transition:all linear .25s;
  -ms-transition:all linear .25s;
  transition:all linear .25s
}

.button:hover,
.button:link:hover,
.button:visited:hover,
.button.hover,
.button:link.hover,
.button:visited.hover,
.button:focus,
.button:link:focus,
.button:visited:focus,
.button.focus,
.button:link.focus,
.button:visited.focus{
  color:#fff;
  text-decoration:none;
  -webkit-transition:all linear .25s;
  -moz-transition:all linear .25s;
  -o-transition:all linear .25s;
  -ms-transition:all linear .25s;
  transition:all linear .25s;
  cursor: pointer;
}

.button:focus,.button:link:focus,.button:visited:focus,.button.focus,.button:link.focus,.button:visited.focus{
  outline-color:#484848;
  -webkit-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed,0 0 0 2px rgba(73,173,227,0.4);
  -moz-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed,0 0 0 2px rgba(73,173,227,0.4);
  box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed,0 0 0 2px rgba(73,173,227,0.4)
}

.button:active,.button:link:active,.button:visited:active,.button.active,.button:link.active,.button:visited.active{
  -webkit-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
  box-shadow:inset 0 2px 0 0 rgba(0,0,0,0.2),inset 0 12px 24px 6px rgba(0,0,0,0.2),inset 0 0 2px 2px rgba(0,0,0,0.2);
  color:#fff;
  text-decoration:none;
  -webkit-transition:all linear .25s;
  -moz-transition:all linear .25s;
  -o-transition:all linear .25s;
  -ms-transition:all linear .25s;
  transition:all linear .25s
}

.button.insensitive,.button:link.insensitive,.button:visited.insensitive,.button.insensitive:hover,.button:link.insensitive:hover,.button:visited.insensitive:hover,.button.insensitive:focus,.button:link.insensitive:focus,.button:visited.insensitive:focus{
  background-color:#9ca3aa;
  background-repeat:repeat-x;
  background-image:-khtml-gradient(linear,left top,left bottom,from(#bfc7cd),to(#9ca3aa));
  background-image:-moz-linear-gradient(#bfc7cd,#9ca3aa);
  background-image:-ms-linear-gradient(#bfc7cd,#9ca3aa);
  background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#bfc7cd),color-stop(100%,#9ca3aa));
  background-image:-webkit-linear-gradient(#bfc7cd,#9ca3aa);
  background-image:-o-linear-gradient(#bfc7cd,#9ca3aa);
  -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfc7cd', endColorstr='#9ca3aa', GradientType=0)";
  background-image:linear-gradient(#bfc7cd,#9ca3aa);
  -webkit-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
  -moz-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
  box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3);
  color:#eee
}


.button-red{
    background-color:#E45D00;
    background-color:#BE2600;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear,left top,left bottom,from(#E45D00),to(#BE2600));
    background-image:-moz-linear-gradient(#E45D00,#BE2600);
    background-image:-ms-linear-gradient(#E45D00,#BE2600);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#E45D00),color-stop(100%,#BE2600));
    background-image:-webkit-linear-gradient(#E45D00,#BE2600);
    background-image:-o-linear-gradient(#E45D00,#BE2600);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#E45D00', endColorstr='#BE2600', GradientType=0)";
    background-image:linear-gradient(#E45D00,#BE2600);
}

.button-red:hover,
.button-red:link:hover,
.button-red:visited:hover,
.button-red.hover,
.button-red:link.hover,
.button-red:visited.hover,
.button-red:focus,
.button-red:link:focus,
.button-red:visited:focus,
.button-red.focus,
.button-red:link.focus,
.button-red:visited.focus{
    -webkit-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #F7781E;
    -moz-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #F7781E;
    box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #F7781E;
}

.button-blue{
    background-color:#43a6e2;
    background-color:#277ac1;
    background-repeat:repeat-x;
    background-image:-khtml-gradient(linear,left top,left bottom,from(#43a6e2),to(#277ac1));
    background-image:-moz-linear-gradient(#43a6e2,#277ac1);
    background-image:-ms-linear-gradient(#43a6e2,#277ac1);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#43a6e2),color-stop(100%,#277ac1));
    background-image:-webkit-linear-gradient(#43a6e2,#277ac1);
    background-image:-o-linear-gradient(#43a6e2,#277ac1);
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr='#43a6e2', endColorstr='#277ac1', GradientType=0)";
    background-image:linear-gradient(#43a6e2,#277ac1);
}

.button-blue:hover,
.button-blue:link:hover,
.button-blue:visited:hover,
.button-blue.hover,
.button-blue:link.hover,
.button-blue:visited.hover,
.button-blue:focus,
.button-blue:link:focus,
.button-blue:visited:focus,
.button-blue.focus,
.button-blue:link.focus,
.button-blue:visited.focus{
    -webkit-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
    -moz-box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
    box-shadow:0 1px 0 0 rgba(0,0,0,0.2),inset 0 -1px 0 0 rgba(0,0,0,0.3),inset 0 12px 24px 2px #38a9ed;
}





/* Responsive Design ============================== */


/*  @Tablet @Layout: 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

  .row{
      padding: 0;
  }

  .two-columns{
      width: calc( 50% - 50px );  /* (margin:10px*2+padding:15px*2) */ 
      width: 330px;
      height: 350px;
      margin: 10px;
  }

  .three-columns{
      width: calc( 33.3333% - 50px );  /* (margin:10px*2+padding:15px*2) */ 
      width: 203px;
      height: 250px;
      margin: 10px;
  }

}

/*  @Mobile @Layout: 320px */
@media only screen and (max-width: 767px) {

  .two-columns{
    width: calc( 100% - 30px );  /* (padding:15px*2) */ 
    width: 390px;  
    height: 100%;
    margin: 10px 0;
  }

  .three-columns{
      width: calc( 100% - 30px );  /* (padding:15px*2) */ 
      width: 390px;
      height: 100%;
      margin: 10px 0;
  }

}

/*  @Wide @Mobile @Layout: 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

  .wrap {
    padding: 0 22px;
    width: 436px;
  }  
  #masthead{
      margin: 0;
  }
  #masthead hgroup{
    width: 100%;
    border-bottom: none;
    margin-top: 20px;
  }
  .donate{
      position: relative;
      bottom: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
  }
  #site-title {
    font-size: 2.5em;
    letter-spacing: -1px;
    margin-left: 0;
  }
  #site-description {
    font-size: 1.4em;
  }

  .two-columns{
    width: calc( 100% - 30px );  /* (padding:15px*2) */ 
    width: 390px;  
    height: 100%;
    margin: 10px 0;
  }

  .three-columns{
      width: calc( 100% - 30px );  /* (padding:15px*2) */ 
      width: 390px;
      height: 100%;
      margin: 10px 0;
  }

}



/*  @Narrow @Mobile @Layout: 480px */
@media only screen and (min-width: 320px) and (max-width: 479px) {

  .wrap {
    padding: 0;
    width: 280px;
  }

  #masthead{
      margin: 0;
  }
  #masthead hgroup{
    width: 100%;
    border-bottom: none;
    margin-top: 20px;
  }
  .donate{
      position: relative;
      bottom: 0;
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
  }

  #site-title {
    font-size: 2.5em;
    letter-spacing: -1px;
    margin-left: 0;
  }

  #site-description {
    font-size: 1.4em;
  }

  .row{
      padding: 0;
  }

  .two-columns,
  .three-columns{
    width: 250px;  
    margin: 10px 0;
  }

  #twitter-feed-widget{
    width: 250px;
  }

}